body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: 	#2F8D46;
    margin: 0;
}

.calculator{
    width: 300px;
    background-color: #fff;
    border-radius: 35px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 35px;
}
.visibility{
    width: 100%;
    height: 50px;
    text-align: right;
    font-size: 1.5rem;
    margin-bottom: 20px;
    border: none;
    background-color: #eeeeee;
    border-radius: 8px;
    color: #333;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.button-digit{
    background-color: #638494;
    font-size: 1.5rem;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.2s;
    color: white;
}
.button-digit:hover {
    transform: scale(1.1);
}
.button-digit:active {
    transform: scale(0.95);
}
.button-clear {
    background-color: rgb(207, 24, 24);
    font-size: 1.5rem;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.2s;
    color: white;
}
.button-clear:hover {
    transform: scale(1.1);
}
.button-equal {
    background-color: rgb(7, 123, 49);
    font-size: 1.5rem;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.2s;
    color: white;
}
.button-equal:hover{
    transform: scale(1.1);
}
.button-operator {
    background-color: #4872bb;
    font-size: 1.5rem;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.2s;
    color: white;
}
.button-operator:hover{
    transform: scale(1.1);
}